MVCNewsClient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/NewsService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewsService" />
  <xs:element name="uploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagedata" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="imagename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorId" type="xs:int" />
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newsCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="getAllNewsResult" nillable="true" type="q1:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="getNewsResult" nillable="true" type="q2:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="news" nillable="true" type="q3:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeNewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="news" nillable="true" type="q4:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="updateNewsResult" nillable="true" type="q5:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAuthor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="getAllAuthorResult" nillable="true" type="q6:ArrayOfAuthor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="LoginResult" nillable="true" type="q7:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="getAuthorResult" nillable="true" type="q8:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="author" nillable="true" type="q9:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAuthorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAuthorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="author" nillable="true" type="q10:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NewsService" minOccurs="0" name="updateAuthorResult" nillable="true" type="q11:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>